*.Identifier
*.gz
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
.DS_Store
.bsp/
.bundle/
.idea
.idea*
.yardoc
.yardoc/
/binstub/
/spec/reports/
Gemfile.lock
Notepad++/
RUNNING_PID
__MACOSX
_site/
_yardoc/
coverage/
demo/
doc/
binstub/
node_modules/
out/
pkg/
project/
spec/status_persistence.txt
target/
tmp/
work.sh
~*
