__MACOSX
_site/
_yardoc/
.bsp/
.bundle/
.DS_Store
.idea
.idea*
.yardoc
.yardoc/
*.gz
*.Identifier
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
/binstub/
/spec/reports/
~*
binstub/
coverage/
demo/
doc/
Gemfile.lock
node_modules/
Notepad++/
out/
pkg/
project/
RUNNING_PID
spec/status_persistence.txt
target/
tmp/
work.sh
